<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ резюме из HeadHunter

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Исследование структуры данных

1. Прочитайте данные с помощью библиотеки Pandas. Совет: перед чтением обратите внимание на разделитель внутри файла.

In [27]:
#ваш код здесь

data = pd.read_csv('data/dst-3.0_16_1_hh_database.csv', sep=';')

2. Выведите несколько первых (последних) строк таблицы, чтобы убедиться в том, что ваши данные не повреждены. Ознакомьтесь с признаками и их структурой.

In [28]:
#ваш код здесь

# Задание 2.1
# Чему равна размерность таблицы? Введите её в виде кортежа (число строк, число столбцов).
print( data.shape )

# Задание 2.2
# Выведите несколько первых (последних) строк таблицы, чтобы убедиться в том, что ваши данные не повреждены.
display (data.head())

# В каком формате представлен порядок слов в признаке «Пол, возраст»?
print (data['Пол, возраст'])

(44744, 12)

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано

0          Мужчина ,  39 лет , родился 27 ноября 1979
1           Мужчина ,  60 лет , родился 20 марта 1959
2        Женщина ,  36 лет , родилась 12 августа 1982
3            Мужчина ,  38 лет , родился 25 июня 1980
4           Женщина ,  26 лет , родилась 3 марта 1993
                             ...
44739      Мужчина ,  30 лет , родился 17 января 1989
44740        Мужчина ,  27 лет , родился 5 марта 1992
44741    Женщина ,  48 лет , родилась 26 декабря 1970
44742     Мужчина ,  24 года , родился 6 октября 1994
44743      Мужчина ,  38 лет , родился 25 апреля 1980
Name: Пол, возраст, Length: 44744, dtype: object

3. Выведите основную информацию о числе непустых значений в столбцах и их типах в таблице.

In [29]:
#ваш код здесь

# Задание 2.3
# Выведите основную информацию о числе непустых значений в столбцах и их типах в таблице.
data.info()

# Какой тип данных имеют все столбцы? Введите его в поле для ответа.
# Вариант 1 - Вызвать метод data.info() и посмотреть в консоли столбец 'Dtype'

# Вариант 2 - Собрать все разные типы в объекте типа set и вывести на консоль
column_types = set()
for column in data.columns:
    # print (data[column].dtype)
    column_types.add(data[column].dtype)

print()
print('Вариант 2 - Типы столбцов:')
for column_type in column_types:
    print('-', column_type)

# Вариант 3 - Взять список типов (столбцов) и вывести на экран уникальные значения
print()
print('Вариант 3 - Типы столбцов:')
for dt in data.dtypes.unique():
    print ('-', dt)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

Вариант 2 - Типы столбцов:
- object

Вариант 3 - Типы столбцов:
- object

4. Обратите внимание на информацию о числе непустых значений.

In [30]:
#ваш код здесь

# Задание 2.4
# Обратите внимание на информацию о числе непустых значений.
rows_num = data.shape[0]
print('Кол-во строк =', rows_num)

print()

# Идём по каждому столбцу
print('Столбцы, в которых НЕТ пропусков:')
for column in data.columns:
    # Рассчитываем кол-во заполненных (в текущем столбце)
    cells_notnull_count = data[column].notnull().sum()
    # Если в текущем столбце нет пропусков, то выводим на консоль
    if (cells_notnull_count == rows_num):
        print('-', column)

print()

# Выберите все признаки, в которых есть пропуски в данных:
# Идём по каждому столбцу
print('Столбцы, в которых ЕСТЬ пропуски:')
for column in data.columns:
    # Рассчитываем кол-во пропусков (в текущем столбце)
    cells_null_count = data[column].isnull().sum()
    # Если в текущем столбце есть пропуски, то выводим на консоль
    if (cells_null_count > 0):
        print('-', column, ',', cells_null_count, 'шт')

Кол-во строк = 44744

Столбцы, в которых НЕТ пропусков:
- Пол, возраст
- ЗП
- Ищет работу на должность:
- Город, переезд, командировки
- Занятость
- График
- Образование и ВУЗ
- Обновление резюме
- Авто

Столбцы, в которых ЕСТЬ пропуски:
- Опыт работы , 168 шт
- Последнее/нынешнее место работы , 1 шт
- Последняя/нынешняя должность , 2 шт

5. Выведите основную статистическую информацию о столбцах.

In [31]:
#ваш код здесь

# Задание 2.5
# Выведите основную статистическую информацию о столбцах.

# Сколько уникальных значений содержится в столбце «Опыт работы»?
rows_num = data.shape[0]
print('Кол-во строк =', rows_num)

column = 'Опыт работы'
# Убираем пропуски
data_2_5 = data[[column]].dropna()
# Убираем дубликаты
data_2_5 = data_2_5[column].drop_duplicates()
print ("Кол-во уникальных строк =", data_2_5.shape[0], '(столбец =', column, ')')

# data_2_5 = data[column].str.strip()
# rows_unique = data_2_5.unique() 
# print ("Кол-во уникальных строк =", len(rows_unique), '(столбец =', column, ')')

# Какая из искомых должностей самая распространённая? Введите название.
# Берём столбец с Должностью
column = 'Ищет работу на должность:'
# Берём вспомогательный столбец без пропусков данных (чтобы подсчитать кол-во)
column2 = 'ЗП'
# Группируем по номеру квартала, подсчитываем кол-во строк (в каждом квартале)
data_2_5 = data.groupby(by=column).count()

# Оставим только вспомогательный столбец (в нём подсчитано кол-во строк)
data_2_5 = data_2_5[[column2]]

# Переименовываем вспомогательный столбец в 'Count'
data_2_5 = data_2_5.rename(columns={column2: 'Count'})

# Сортируем по столбцу 'Count' в порядке убывания
data_2_5 = data_2_5.sort_values(by=['Count'], ascending=False)

data_2_5.head()

Кол-во строк = 44744
Кол-во уникальных строк = 44413 (столбец = Опыт работы )

                           Count
Ищет работу на должность:
Системный администратор     3099
Инженер                      966
Аналитик                     809
Менеджер проектов            745
Руководитель проекта         718

# Преобразование данных

1. Начнем с простого - с признака **"Образование и ВУЗ"**. Его текущий формат это: **<Уровень образования год выпуска ВУЗ специальность...>**. Например:
* Высшее образование 2016 Московский авиационный институт (национальный исследовательский университет)...
* Неоконченное высшее образование 2000  Балтийская государственная академия рыбопромыслового флота…
Нас будет интересовать только уровень образования.

Создайте с помощью функции-преобразования новый признак **"Образование"**, который должен иметь 4 категории: "высшее", "неоконченное высшее", "среднее специальное" и "среднее".

Выполните преобразование, ответьте на контрольные вопросы и удалите признак "Образование и ВУЗ".

Совет: обратите внимание на структуру текста в столбце **"Образование и ВУЗ"**. Гарантируется, что текущий уровень образования соискателя всегда находится в первых 2ух слов и начинается с заглавной буквы. Воспользуйтесь этим.

*Совет: проверяйте полученные категории, например, с помощью метода unique()*

In [32]:
#ваш код здесь

# display (data.head())

column_edu_and_uni = 'Образование и ВУЗ'
column_edu = 'Образование'
# display (data[column_edu_and_uni].head())

# На выходе функции возмжоны четыре варианта:
# - высшее, 
# - неоконченное высшее, 
# - среднее специальное, 
# - среднее.
def parse_edu(obj_edu_and_uni : object):
    # Преобразуем в тип Строка
    str_edu_and_uni = str(obj_edu_and_uni)
    
    # Преобразуем буквы в нижний регистр, 
    # убираем лишние пробелы (в начале и в конце строки)
    str_edu_and_uni = str_edu_and_uni.lower().strip()
    
    # Оставим в строке только первые три слова. Для этого:
    # 1. Сначала разобъём строку на слова
    words = str_edu_and_uni.split()
    i = 0
    str_edu_and_uni = ''
    # 2. Возьмём перевые три слова либо меньше (если слов меньше трёх)
    # и склеим снова слова в строку
    for word in words:
        str_edu_and_uni += word
        i += 1
        if (i >= 3):
            break
    
    result = ''
    
    if (str_edu_and_uni.find('высшее') >= 0):
        # Значит образование 'высшее' либо 'неоконченное высшее'
        if (str_edu_and_uni.find('неоконченное') >= 0):
            result = 'неоконченное высшее'
        else:
            result = 'высшее'
    elif (str_edu_and_uni.find('среднее') >= 0):
        # Значит образование 'среднее' либо 'среднее специальное'
        if (str_edu_and_uni.find('специальное') >= 0):
            result = 'среднее специальное'
        else:
            result = 'среднее'
    else:
        # Значит ни одно из четырёх перечисленных выше
        print('Error')
        
    return result    

# Добавим новый столбец 'Образование'
# вычислив его на основе столбца 'Образование и ВУЗ'
data[column_edu] = data[column_edu_and_uni].apply(parse_edu)
# display(data[[column_edu, column_edu_and_uni]])

data_3_1 = data.groupby(by=column_edu).count()
# display(data_3_1.head())

# Оставим только вспомогательный столбец (в нём подсчитано кол-во строк)
data_3_1 = data_3_1[[column_edu_and_uni]]

# Переименовываем вспомогательный столбец в 'Count'
data_3_1 = data_3_1.rename(columns={column_edu_and_uni: 'Count'})

# Сортируем по столбцу 'Count' в порядке убывания
data_3_1 = data_3_1.sort_values(by=['Count'], ascending=False)

display (data_3_1.head())

# Выполните преобразование, ответьте на контрольные вопросы и удалите признак «Образование и ВУЗ».
display (data.head())
data = data.drop(columns=[column_edu_and_uni])
display (data.head())

                     Count
Образование
высшее               33863
среднее специальное   5765
неоконченное высшее   4557
среднее                559

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто,Образование
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано,высшее
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано,среднее специальное
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано,высшее
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано,высшее

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,высшее
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,среднее специальное
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,высшее
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,высшее

2. Теперь нас интересует столбец **"Пол, возраст"**. Сейчас он представлен в формате **<Пол , возраст , дата рождения >**. Например:
* Мужчина , 39 лет , родился 27 ноября 1979 
* Женщина , 21 год , родилась 13 января 2000
Как вы понимаете, нам необходимо выделить каждый параметр в отдельный столбец.

Создайте два новых признака **"Пол"** и **"Возраст"**. При этом важно учесть:
* Признак пола должен иметь 2 уникальных строковых значения: 'М' - мужчина, 'Ж' - женщина. 
* Признак возраста должен быть представлен целыми числами.

Выполните преобразование, ответьте на контрольные вопросы и удалите признак **"Пол, возраст"** из таблицы.

*Совет: обратите внимание на структуру текста в столбце, в части на то, как разделены параметры пола, возраста и даты рождения между собой - символом ' , '. 
Гарантируется, что структура одинакова для всех строк в таблице. Вы можете воспользоваться этим.*

In [33]:
#ваш код здесь

# display (data.head())

column_gender_and_age = 'Пол, возраст'
column_gender         = 'Пол'
column_age            = 'Возраст'
# display (data[column_edu_and_uni].head())

def parse_gender(obj_gender_and_age: object):
    # Преобразуем в тип Строка
    str_gender_and_age = str(obj_gender_and_age)
    
    # Преобразуем буквы в нижний регистр, 
    # убираем лишние пробелы (в начале и в конце строки)
    str_gender_and_age = str_gender_and_age.lower().strip()
    
    parts = str_gender_and_age.split(sep=',')
    if (len(parts) != 3):
        print (str_gender_and_age)
    
    # Вычисляем Пол
    result_gender = ''
    # Берём первую подстроку из исходной строки (до первой запятой)
    str_gender = parts[0]
    if (str_gender.find('м') >= 0):
        result_gender = 'М'
    elif (str_gender.find('ж') >= 0):
        result_gender = 'Ж'
    else:
        print('Error: Gender')
    
    # Вычисляем Возраст
    result_age = 0
    # Берём вторую подстроку из исходной строки (после первой запятой)
    str_age = parts[1]
    # Убираем лишние пробелы (в начале и в конце строки)
    str_age = str_age.strip()
    # Разбиваем строку на слова, берём первое слово
    str_age = str_age.split()[0]
    # Конвертируем строку в целое число
    try:
        result_age = int(str_age)
    except:
        print('Error: Age')
    
    return pd.Series([result_gender, result_age])

# Добавим два новых столбца 'Пол' и 'Возраст'
# вычислив их на основе столбца 'Пол, возраст'
data[[column_gender, column_age]] = data[column_gender_and_age].apply(parse_gender)
display (data[[column_gender_and_age, column_gender, column_age]].head())
# display (data.head())

# Группируем по новому столбцу 'Пол', чтобы посмотреть результаты
data_3_2a = data[[column_gender_and_age, column_gender]].groupby(by=column_gender).count()
# Оставим только вспомогательный столбец (в нём подсчитано кол-во строк)
data_3_2a = data_3_2a[[column_gender_and_age]]
# Переименовываем вспомогательный столбец в 'Count'
data_3_2a = data_3_2a.rename(columns={column_gender_and_age: 'Count'})
display(data_3_2a.head())

# Группируем по новому столбцу 'Возраст', чтобы посмотреть результаты
data_3_2b = data[[column_gender_and_age, column_age]].groupby(by=column_age).count()
# Оставим только вспомогательный столбец (в нём подсчитано кол-во строк)
data_3_2b = data_3_2b[[column_gender_and_age]]
# Переименовываем вспомогательный столбец в 'Count'
data_3_2b = data_3_2b.rename(columns={column_gender_and_age: 'Count'})
display(data_3_2b)



# Сколько процентов женских резюме представлено в наших данных? Ответ округлите до сотых.
women_num = data[data[column_gender] == 'Ж'].shape[0]
human_num = data.shape[0]
women_pc = round(100.0 * women_num / human_num, 2)
print ('Женских резюме = ', women_pc, '%')

# Чему равен средний возраст соискателей? Ответ округлите до десятых.
human_age_mean = round(data[column_age].mean(), 1)
print ('Средний возраст соискателей =', human_age_mean, 'лет')

# Выполните преобразование, ответьте на контрольные вопросы и удалите признак «Пол, возраст» из таблицы.
display (data.head())
data = data.drop(columns=[column_gender_and_age])
display (data.head())

                                   Пол, возраст Пол  Возраст
0    Мужчина ,  39 лет , родился 27 ноября 1979   М       39
1     Мужчина ,  60 лет , родился 20 марта 1959   М       60
2  Женщина ,  36 лет , родилась 12 августа 1982   Ж       36
3      Мужчина ,  38 лет , родился 25 июня 1980   М       38
4     Женщина ,  26 лет , родилась 3 марта 1993   Ж       26

     Count
Пол
Ж     8533
М    36211

         Count
Возраст
14           1
15           2
16           4
17          14
18          61
...        ...
72           3
73           4
76           1
77           1
100          1

[63 rows x 1 columns]

Женских резюме =  19.07 %
Средний возраст соискателей = 32.2 лет

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,Возраст
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее,М,39
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,высшее,М,60
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,среднее специальное,Ж,36
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,высшее,М,38
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,высшее,Ж,26

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,Возраст
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее,М,39
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,высшее,М,60
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,среднее специальное,Ж,36
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,высшее,М,38
4,140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,высшее,Ж,26

3. Следующим этапом преобразуем признак **"Опыт работы"**. Его текущий формат - это: **<Опыт работы: n лет m месяцев, периоды работы в различных компаниях…>**. 

Из столбца нам необходимо выделить общий опыт работы соискателя в месяцах, новый признак назовем "Опыт работы (месяц)"

Для начала обсудим условия решения задачи:
* Во-первых, в данном признаке есть пропуски. Условимся, что если мы встречаем пропуск, оставляем его как есть (функция-преобразование возвращает NaN)
* Во-вторых, в данном признаке есть скрытые пропуски. Для некоторых соискателей в столбце стоит значения "Не указано". Их тоже обозначим как NaN (функция-преобразование возвращает NaN)
* В-третьих, нас не интересует информация, которая описывается после указания опыта работы (периоды работы в различных компаниях)
* В-четвертых, у нас есть проблема: опыт работы может быть представлен только в годах или только месяцах. Например, можно встретить следующие варианты:
    * Опыт работы 3 года 2 месяца…
    * Опыт работы 4 года…
    * Опыт работы 11 месяцев…
    * Учитывайте эту особенность в вашем коде

Учитывайте эту особенность в вашем коде

В результате преобразования у вас должен получиться столбец, содержащий информацию о том, сколько месяцев проработал соискатель.
Выполните преобразование, ответьте на контрольные вопросы и удалите столбец **"Опыт работы"** из таблицы.

In [34]:
#ваш код здесь

column_work_exp    = 'Опыт работы'
column_work_months = 'Опыт работы (месяц)'

def express_analysis():
    i = 0
    num_good = 0
    num_nan = 0
    for work_exp in data[column_work_exp]:
        i += 1
        str_work_exp = str(work_exp).lower()
        if (str_work_exp.find('опыт работы ') >= 0):
            num_good += 1
        elif (str_work_exp == 'nan'):
            num_nan += 1
        else:
            num_nan += 1

    print ('Express Analysis:')
    print ('good = ', num_good, '/', i)
    print ('nan  = ', num_nan, '/', i)
    print ('good + nan =', num_good + num_nan, '/', i)
    print ()

def parse_work_exp(obj_work_exp : object):
    # Преобразуем в тип Строка
    str_work_exp = str(obj_work_exp)
    
    # Преобразуем буквы в нижний регистр, 
    # убираем лишние пробелы (в начале и в конце строки)
    str_work_exp = str_work_exp.lower().strip()
    
    # Вычисляем 'Опыт работы (месяц)'
    result_months = 0
    
    if (str_work_exp == ''):
        # Обработка случая, если строка пустая
        result_months = np.nan
    
    elif (str_work_exp == 'nan'):
        # Обработка случая, если строка равна Not a number
        result_months = np.nan
    
    elif (str_work_exp.find('опыт работы') >= 0):
        # Обработка наиболее ожидаемого (вероятного) случая - 
        # в строке есть подстрока 'опыт работы'
        # Тогда эту строку нужно исследовать дальше
        # Пример #1 (было): 'опыт работы 3 месяца  октябрь 2004 — декабрь ...'
        # Пример #2 (было): 'опыт работы 10 лет 3 месяца  октябрь 2004 — декабрь ...'
        
        # Укорачиваем строку слева на фразу 'опыт работы'
        # Пример #1 (станет): ' 3 месяца  октябрь 2004 — декабрь ...'
        # Пример #2 (станет): ' 10 лет 3 месяца  октябрь 2004 — декабрь ...'
        idx = str_work_exp.find('опыт работы')
        idx += len('опыт работы')
        str_work_exp = str_work_exp[idx:]
        
        # Разбиваем на слова
        # Далее нас будет интересовать максимум первые 4 слова
        # Пример #1 (станет): ['3', 'месяца', ...]
        # Пример #2 (станет): ['10', 'лет', '3', 'месяца', ...]
        words = str_work_exp.strip().split()
        
        if (len(words) >= 2):
            # Ожидаем, что кол-во слов не мене двух: 
            # - чтобы извлечь только месяцы (стаж <  1 года) или 
            # - чтобы извлечь годы и месяцы (стаж >= 1 года)             
                    
            try:
                # Первым по счёту должно идти число
                # Пример #1: words = ['3', 'месяца', ...], тогда num = 3
                # Пример #2: words = ['10', 'лет', '3', 'месяца', ...], тогда num = 10
                num = int(words[0].strip())
            except:
                # Обработка неожиданного случая:
                # - первым идёт не целое число
                # Потребуется дописать код.
                print ('Error: Work Experience #1')
                result_months = np.nan
                return result_months
            
            if (words[1].find('мес') >= 0):
                # Если следом за числом идёт, что число указано в месяцах
                # Тогда просто присваиваем его к результату
                # Пример #1: words = ['3', 'месяца', ...] 
                # Тогда result_months = 3 мес.
                result_months = num
                
            elif (words[1].find('лет') >= 0 or
                  words[1].find('год') >= 0):
                # Если следом за числом идёт, что число указано в годах
                # Тогда переводим годы в месяцы
                # Пример #2: words = ['10', 'лет', '3', 'месяца', ...]
                # Тогда result_months = 10 * 12 мес. = 120 мес.
                result_months = num * 12
                
                # Проверяем, что ещё есть слова
                if (len(words) >= 4):
                    # Далее могут идти ещё месяцы (а могут не идти)    
                    if (words[3].find('меся') >= 0):
                        # Если далее идут месяцы, то будем считывать число
                        
                        try:
                            num = int(words[2].strip())
                            result_months += num
                        except:
                            # Обработка неожиданного случая:
                            # - на позиции слова #3 идёт не целое число
                            # Потребуется дописать код.
                            print ('Error: Work Experience #2')
                            print (str_work_exp)
            
            else:
                # Обработка неожиданного случая (пока что необрабатываемого случая)
                print ('Error: Work Experience #3')
            
        else:
            # Обработка неожиданного случая (пока что необрабатываемого случая)
            print ('Error: Work Experience #4')
    
    else:
        result_months = np.nan
        
    return result_months

# display (data.info())

# Проведём экспресс-анализ, чтобы посмотреть:
# - кол-во "хороших" ячеек (которые можно парсить)
# - кол-во ячеек с NaN
express_analysis()

# Добавим новый столбец 'Опыт работы (месяц)'
# вычислив его на основе столбца 'Образование и ВУЗ'
data[column_work_months] = data[column_work_exp].apply(parse_work_exp)
display (data[column_work_months].info())

# Чему равен медианный опыт работы (в месяцах) в нашей таблице?
print ()
print ('mean   =', data[column_work_months].mean())
print ('median =', data[column_work_months].median())

# Выполните преобразование и удалите столбец «Опыт работы» из таблицы.
display (data.head())
data = data.drop(columns=[column_work_exp])
display (data.head())

Express Analysis:
good =  44574 / 44744
nan  =  170 / 44744
good + nan = 44744 / 44744

<class 'pandas.core.series.Series'>
RangeIndex: 44744 entries, 0 to 44743
Series name: Опыт работы (месяц)
Non-Null Count  Dtype
--------------  -----
44574 non-null  float64
dtypes: float64(1)
memory usage: 349.7 KB

None

mean   = 114.41894377888455
median = 100.0

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,Возраст,Опыт работы (месяц)
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее,М,39,202.0
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,высшее,М,60,233.0
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,среднее специальное,Ж,36,123.0
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,высшее,М,38,225.0
4,140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,высшее,Ж,26,67.0

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,Возраст,Опыт работы (месяц)
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...","МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее,М,39,202.0
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,высшее,М,60,233.0
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,среднее специальное,Ж,36,123.0
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,высшее,М,38,225.0
4,140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,высшее,Ж,26,67.0

4. Хорошо идем! Следующий на очереди признак "Город, переезд, командировки". Информация в нем представлена в следующем виде: **<Город , (метро) , готовность к переезду (города для переезда) , готовность к командировкам>**. В скобках указаны необязательные параметры строки. Например, можно встретить следующие варианты:

* Москва , не готов к переезду , готов к командировкам
* Москва , м. Беломорская , не готов к переезду, не готов к командировкам
* Воронеж , готов к переезду (Сочи, Москва, Санкт-Петербург) , готов к командировкам

Создадим отдельные признаки **"Город"**, **"Готовность к переезду"**, **"Готовность к командировкам"**. При этом важно учесть:

* Признак **"Город"** должен содержать только 4 категории: "Москва", "Санкт-Петербург" и "город-миллионник" (их список ниже), остальные обозначьте как "другие".

    Список городов-миллионников:
    
   <code>million_cities = ['Новосибирск', 'Екатеринбург','Нижний Новгород','Казань', 'Челябинск','Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж','Волгоград']
    </code>
    Инфорация о метро, рядом с которым проживает соискатель нас не интересует.
* Признак **"Готовность к переезду"** должен иметь два возможных варианта: True или False. Обратите внимание, что возможны несколько вариантов описания готовности к переезду в признаке "Город, переезд, командировки". Например:
    * … , готов к переезду , …
    * … , не готова к переезду , …
    * … , готова к переезду (Москва, Санкт-Петербург, Ростов-на-Дону)
    * … , хочу переехать (США) , …
    
    Нас интересует только сам факт возможности или желания переезда.
* Признак **"Готовность к командировкам"** должен иметь два возможных варианта: True или False. Обратите внимание, что возможны несколько вариантов описания готовности к командировкам в признаке "Город, переезд, командировки". Например:
    * … , готов к командировкам , … 
    * … , готова к редким командировкам , …
    * … , не готов к командировкам , …
    
    Нас интересует только сам факт готовности к командировке.
    
    Еще один важный факт: при выгрузки данных у некоторых соискателей "потерялась" информация о готовности к командировкам. Давайте по умолчанию будем считать, что такие соискатели не готовы к командировкам.
    
Выполните преобразования и удалите столбец **"Город, переезд, командировки"** из таблицы.

*Совет: обратите внимание на то, что структура текста может меняться в зависимости от указания ближайшего метро. Учите это, если будете использовать порядок слов в своей программе.*

In [35]:
#ваш код здесь

column_city_moving_business_trip = 'Город, переезд, командировки'
column_city                      = 'Город'
column_ready_moving              = 'Готовность к переезду'
column_ready_business_trip       = 'Готовность к командировкам'

# Каждая строка состоит из нескольких фраз (предложений), разделённых запятыми. 
# Внутри каждой фразы могут быть скобки, внутри скобок - тоже запятые. 
# Поэтому важно аккуратно разбить строку на фразы. 
# Каждая фраза содержит информацию для нового столбца (кроме метро).
# Пример: 
# На входе в функцию строка:
# 'Советск (Калининградская область) , не готов к переезду , не готов к командировкам'
# На выходе из функции список фраз:
# ['Советск (Калининградская область) ', ' не готов к переезду ', ' не готов к командировкам']
def split_str_to_phrases(obj_line):
    str_line = str(obj_line) # входная строка
    phrases = [] # фразы, полученные из входной строки
    idx0 = 0 # индекс начала очередной фразы (в цикле)
    idx1 = 0 # индекс начала текущей фразы
    idx2 = 0 # индекс конца  текущей фразы
    
    while (idx0 < len(str_line)):
        idx1 = idx0
        idxComma = str_line.find(',', idx1 + 1)
        idxBracketOpening = str_line.find('(', idx1 + 1)
        
        if (idxComma == -1):
            # Это последняя фраза в строке
            # Пример: 'Советск (Калининградская область) , не готов к переезду , не готов к командировкам'
            # idx1 находится здесь:                                             ^
            # idx2 не был найден далее в строке (дале за idx1)
            idx2 = len(str_line)
        elif (idxComma >= 0 and idxBracketOpening == -1):
            # Конец текущей фразы - запятая
            # После текущей фразы могут следовать ещё фразы (просто скобок больше нет)
            # Пример: 'Советск (Калининградская область) , не готов к переезду , не готов к командировкам'
            # idx1 находится здесь:                       ^
            # Впереди нас ждут ещё две фразы, скобок больше не будет
            idx2 = idxComma
        elif (idxComma >= 0 and idxBracketOpening >= 0):
            # Конец текущей фразы (возможные варианты):
            # - запятая, 
            # - запятая, которая будет следовать за закрывающей скобкой, 
            # - либо текущая фраза является последней в строке (после закрывающей скобки ничего нет, либо скобки нет)
            if (idxComma < idxBracketOpening):
                # Конец текущей фразы - запятая (т.к. идёт раньше по тексту)
                # После текущей фразы могут следовать ещё фразы
                # Пример: 'Новосибирск ,  м. Речной вокзал , готов к переезду (Москва) , готов к командировкам'
                # idx1 находится здесь: ^
                # Впереди нас ждут ещё три фразы
                idx2 = idxComma
                # print (str_cell)
            else:
                # В текущей фразе открывающая скобка идёт раньше запятой
                # Поэтому нужно найти запятую, идущую после закрывающей скобки
                # Пример: 'Симферополь , готов к переезду (Москва, Санкт-Петербург, Краснодар, Ростов-на-Дону) , готов к командировкам'
                # idx1 находится здесь: ^
                idxBracketClosing = str_line.find(')', idxBracketOpening)
            
                if (idxBracketClosing != -1):
                    idxComma = str_line.find(',', idxBracketClosing)
                    
                    if (idxComma == -1):
                        # Это последняя фраза в строке (после закрывающей скобки нет запятой)
                        # Пример: 'Симферополь , готов к переезду , готов к командировкам (Москва)'
                        # idx1 находится здесь:                    ^
                        idx2 = len(str_line)
                        print (str_line)
                    else:
                        # Конец текущей фразы - запятая
                        # После текущей фразы могут следовать ещё фразы
                        # Пример: 'Симферополь , готов к переезду (Москва, Санкт-Петербург, Краснодар, Ростов-на-Дону) , готов к командировкам'
                        # idx1 находится здесь: ^
                        # idx2 находится здесь:                                                                        ^
                        idx2 = idxComma
                else:
                    # Неожиданная ситуация - нет закрывающей скобки
                    # !!! Этот случай не был описан в формулировке задачи !!!
                    # Значит считаем за одну фразу всё от текущего момента до конца строки
                    # Пример (строка разбита на несколько строк-комментариев): 'Туапсе , готов к переезду (Абхазия, \
                    # Колумбия, Венесуэла, Чехия, Бельгия, Великобритания, США, Швеция, Греция, Германия, Дания, \
                    # Турция, Израиль, Финляндия, Испания, Франция, Италия, Сингапур, Аргентина, Швейцария, Кипр, \
                    # Канада, Исландия, Япония, Бангладеш,'
                    # print ('Error')
                    # print (str_cell)
                    idx2 = len(str_line)
        
        phrase = str_line[idx1:idx2]
        idx0 = idx2 + 1
        phrases.append(phrase)
    
    # Склеиваем все фразы в предложение, чтобы сравнить с исходным. 
    # Тем самым мы проверим, что при разбиении на фразы не потеряли ничего лишнего.
    str_line_2 = ','.join(str(phrase) for phrase in phrases)
    
    # Сравниваем исходную строку и склеенную, если они отличаются - 
    # скорее всего была допущена ошибка при парсинге
    if (str_line != str_line_2):
        # Бывает в конце строки стоит ','
        # Поэтому дополнительно сравниваем ещё с такой строкой
        if (str_line != (str_line_2 + ',')):
            print ('Error: str_cell != str_cell_2')
            print ('i = ', i)
            print (phrases)
            print (str_line)
            print (str_line_2)
            print ()
    
    # Оказывается есть строки, в которых только две фразы
    # В формулировке задачи было указано, что данные о командировке могут отсутствовать
    # if (len(phrases) < 3):
    #     print ('Error: len(words) < 3')
    #     print ('i = ', i)
    #     print (phrases)
    #     print (str_line)
    #     print (str_line_2)
    #     print ()
    
    return phrases

def parse_city(str_city: str):
    million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 
                      'Казань', 'Челябинск', 'Омск', 'Самара', 
                      'Ростов-на-Дону', 'Уфа', 'Красноярск', 
                      'Пермь', 'Воронеж', 'Волгоград' ]
    
    for i in range(len(million_cities)):
        million_cities[i] = million_cities[i].lower()
    
    str_city = str_city.lower().strip()
    
    # Проверяем - это 'Москва' ?
    if (str_city.find('москва') >= 0):
        result_city = 'Москва'
    
    # Проверяем - это 'Санкт-Петербург' ?
    elif (str_city.find('санкт-петербург') >= 0):
        result_city = 'Санкт-Петербург'
    
    # Остаётся два варианта: 'город-миллионник' или 'другие'
    else:
        is_million_city = False
        for i in range(len(million_cities)):
            if (str_city.find(million_cities[i]) >= 0):
                is_million_city = True
                break
        
        # Проверяем - это 'город-миллионник' ?
        if (is_million_city):
            result_city = 'город-миллионник'
            
        # Это 'другие' (города)
        else:
            result_city = 'другие'
    
    return result_city

def parse_city_moving_business_trip_phrases(phrases: list[str]):
    
    # Вычисляем Город
    result_city = parse_city(phrases[0])
    
    # print (result_city)
    # return
    
    result_moving = np.nan
    result_business_trip = np.nan
    
    # n = 1
    n = len(phrases)
    for i in range(1, n):
        phrase = phrases[i]
        
        # Проверяем фразу - она про 'переезд' ?
        if (phrase.find('перее') >= 0):
            # print(phrase)
            
            idx1 = phrase.find('не')
            idx2 = phrase.find('перее')
            
            if (idx1 != -1 and idx1 < idx2):
                result_moving = False
            else:
                result_moving = True
            
        # Проверяем фразу - она про 'командировки' ?
        elif (phrase.find('командиров') >= 0):
            
            # print(phrase)
            
            idx1 = phrase.find('не')
            idx2 = phrase.find('командиров')
            
            if (idx1 != -1 and idx1 < idx2):
                result_business_trip = False
            else:
                result_business_trip = True
    
    if (np.isnan(result_moving)):
        print('Не вычислено \'Переезд\':', phrases)
        # result_moving = False
        
    if (np.isnan(result_business_trip)):
        # print('Не вычислено \'Командировки\':', phrases)
        result_business_trip = False
    
    return pd.Series([result_city, result_moving, result_business_trip])


def parse_city_moving_business_trip(obj_line: object):
    # print (obj_line)
    phrases = split_str_to_phrases(obj_line)
    # print (phrases)
    result  = parse_city_moving_business_trip_phrases(phrases)
    
    return result
    # return pd.Series([np.nan, np.nan, np.nan])

# display (data[column_city_moving_business_trip].head())
# return

# i = 0
# i1 = 0
# # i2 = 1000
# i2 = data.shape[0]

# for cell in data[column_city_moving_business_trip]:
# # for i in range(i1, i2):
#     # cell = data[column_city_moving_business_trip][i]
    
#     if (i < i1):
#         continue
    
#     if (i > i2):
#         break
    
#     phrases = split_str_to_phrases(cell)  
#     # print (cell)
#     # print (phrases)
#     parse_city_moving_business_trip(phrases)  
    
#     i += 1


# Добавим три новых столбца 'Город', 'Готовность к переезду' и 'Готовность к командировкам'
# вычислив их на основе столбца 'Город, переезд, командировки'
data[[column_city, column_ready_moving, column_ready_business_trip]] = data[column_city_moving_business_trip].apply(parse_city_moving_business_trip)
display (data[[column_city, column_ready_moving, column_ready_business_trip]].head())

# Группируем по новому столбцу 'Город', чтобы посмотреть результаты
data_3_4a = data[[column_city_moving_business_trip, column_city]].groupby(by=column_city).count()
# Оставим только вспомогательный столбец (в нём подсчитано кол-во строк)
data_3_4a = data_3_4a[[column_city_moving_business_trip]]
# Переименовываем вспомогательный столбец в 'Count'
data_3_4a = data_3_4a.rename(columns={column_city_moving_business_trip: 'Count'})
display(data_3_4a.head())

# Группируем по новому столбцу 'Готовность к переезду', чтобы посмотреть результаты
data_3_4b = data[[column_city_moving_business_trip, column_ready_moving]].groupby(by=column_ready_moving).count()
# Оставим только вспомогательный столбец (в нём подсчитано кол-во строк)
data_3_4b = data_3_4b[[column_city_moving_business_trip]]
# Переименовываем вспомогательный столбец в 'Count'
data_3_4b = data_3_4b.rename(columns={column_city_moving_business_trip: 'Count'})
display(data_3_4b.head())

# Группируем по новому столбцу 'Готовность к командировкам', чтобы посмотреть результаты
data_3_4c = data[[column_city_moving_business_trip, column_ready_business_trip]].groupby(by=column_ready_business_trip).count()
# Оставим только вспомогательный столбец (в нём подсчитано кол-во строк)
data_3_4c = data_3_4c[[column_city_moving_business_trip]]
# Переименовываем вспомогательный столбец в 'Count'
data_3_4c = data_3_4c.rename(columns={column_city_moving_business_trip: 'Count'})
display(data_3_4c.head())

# Сколько процентов соискателей живут в Санкт-Петербурге? Ответ округлите до целого.
city_Peter = data [data[column_city] == 'Санкт-Петербург'].shape[0]
city_all = data.shape[0]
city_Peter_pc = round(100. * city_Peter / city_all, 0)
print ('В Санкт-Петербурге живёт соискателей = ', city_Peter_pc, '%')


# Сколько процентов соискателей готовы одновременно и к переездам, и к командировкам? Ответ округлите до целого.
data_3_4_q2_1 = data [data[column_ready_moving] == True]
data_3_4_q2_2 = data [data[column_ready_business_trip] == True]

data_3_4_q2_3 = data [(data[column_ready_moving] == True) &
                      (data[column_ready_business_trip] == True)]

data_3_4_q2_4 = data_3_4_q2_1 [data_3_4_q2_1[column_ready_business_trip] == True]
data_3_4_q2_5 = data_3_4_q2_2 [data_3_4_q2_2[column_ready_moving] == True]

print (data_3_4_q2_1.shape[0])
print (data_3_4_q2_2.shape[0])
print (data_3_4_q2_3.shape[0])
print (data_3_4_q2_4.shape[0])
print (data_3_4_q2_5.shape[0])

human_moving_business_trip_pc = round(100. * data_3_4_q2_3.shape[0] / data.shape[0], 0)
print ('Одновременно и к переездам, и к командировкам готовы соискатели = ', human_moving_business_trip_pc, '%')

# Выполните преобразования и удалите столбец «Город, переезд, командировки» из таблицы.
display (data.head())
data = data.drop(columns=[column_city_moving_business_trip])
display (data.head())

    Город  Готовность к переезду  Готовность к командировкам
0  другие                  False                       False
1  другие                  False                        True
2  другие                  False                       False
3  другие                  False                        True
4  Москва                  False                        True

                  Count
Город
Москва            16621
Санкт-Петербург    4937
город-миллионник   7667
другие            15519

                       Count
Готовность к переезду
False                  28719
True                   16025

                            Count
Готовность к командировкам
False                       13104
True                        31640

В Санкт-Петербурге живёт соискателей =  11.0 %
16025
31640
14258
14258
14258
Одновременно и к переездам, и к командировкам готовы соискатели =  32.0 %

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,Возраст,Опыт работы (месяц),Город,Готовность к переезду,Готовность к командировкам
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...","МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее,М,39,202.0,другие,False,False
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,высшее,М,60,233.0,другие,False,True
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,среднее специальное,Ж,36,123.0,другие,False,False
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,высшее,М,38,225.0,другие,False,True
4,140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,высшее,Ж,26,67.0,Москва,False,True

,ЗП,Ищет работу на должность:,Занятость,График,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,Возраст,Опыт работы (месяц),Город,Готовность к переезду,Готовность к командировкам
0,29000 руб.,Системный администратор,"частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...","МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее,М,39,202.0,другие,False,False
1,40000 руб.,Технический писатель,"частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,высшее,М,60,233.0,другие,False,True
2,20000 руб.,Оператор,полная занятость,полный день,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,среднее специальное,Ж,36,123.0,другие,False,False
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,высшее,М,38,225.0,другие,False,True
4,140000 руб.,Региональный менеджер по продажам,полная занятость,полный день,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,высшее,Ж,26,67.0,Москва,False,True

5. Рассмотрим поближе признаки **"Занятость"** и **"График"**. Сейчас признаки представляют собой набор категорий желаемой занятости (полная занятость, частичная занятость, проектная работа, волонтерство, стажировка) и желаемого графика работы (полный день, сменный график, гибкий график, удаленная работа, вахтовый метод).
На сайте hh.ru соискатель может указывать различные комбинации данных категорий, например:
* полная занятость, частичная занятость
* частичная занятость, проектная работа, волонтерство
* полный день, удаленная работа
* вахтовый метод, гибкий график, удаленная работа, полная занятость

Такой вариант признаков имеет множество различных комбинаций, а значит множество уникальных значений, что мешает анализу. Нужно это исправить!

Давайте создадим признаки-мигалки для каждой категории: если категория присутствует в списке желаемых соискателем, то в столбце на месте строки рассматриваемого соискателя ставится True, иначе - False.

Такой метод преобразования категориальных признаков называется One Hot Encoding и его схема представлена на рисунке ниже:
<img src=https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/ohe.jpg>
Выполните данное преобразование для признаков "Занятость" и "График", ответьте на контрольные вопросы, после чего удалите их из таблицы

In [38]:
#ваш код здесь

column_employment = 'Занятость'
column_schedule   = 'График'

# Занятость
column_employ_b_full       = 'полная занятость'
column_employ_b_part       = 'частичная занятость'
column_employ_b_project    = 'проектная работа'
column_employ_b_volunteer  = 'волонтерство'
column_employ_b_intern     = 'стажировка'

# График
column_schedule_b_full     = 'полный день'
column_schedule_b_shift    = 'сменный график'
column_schedule_b_flexible = 'гибкий график'
column_schedule_b_remote   = 'удалённая работа'
column_schedule_b_rotation = 'вахтовый метод'

# Занятость (заполним "мигалки")
data[column_employ_b_full] = data[column_employment].apply(
    lambda x: True if (str(x).find(column_employ_b_full) >= 0) else False)

data[column_employ_b_part] = data[column_employment].apply(
    lambda x: True if (str(x).find(column_employ_b_part) >= 0) else False)

data[column_employ_b_project] = data[column_employment].apply(
    lambda x: True if (str(x).find(column_employ_b_project) >= 0) else False)

data[column_employ_b_volunteer] = data[column_employment].apply(
    lambda x: True if (str(x).find(column_employ_b_volunteer) >= 0) else False)

data[column_employ_b_intern] = data[column_employment].apply(
    lambda x: True if (str(x).find(column_employ_b_intern) >= 0) else False)


# График (заполним "мигалки")
data[column_schedule_b_full] = data[column_schedule].apply(
    lambda x: True if (str(x).find(column_schedule_b_full) >= 0) else False)

data[column_schedule_b_shift] = data[column_schedule].apply(
    lambda x: True if (str(x).find(column_schedule_b_shift) >= 0) else False)

data[column_schedule_b_flexible] = data[column_schedule].apply(
    lambda x: True if (str(x).find(column_schedule_b_flexible) >= 0) else False)

data[column_schedule_b_remote] = data[column_schedule].apply(
    lambda x: True if (str(x).find(column_schedule_b_remote) >= 0) else False)

data[column_schedule_b_rotation] = data[column_schedule].apply(
    lambda x: True if (str(x).find(column_schedule_b_rotation) >= 0) else False)


# Сколько людей ищут проектную работу и волонтёрство (в обоих столбцах стоит True)?
display (data[[column_employment, column_employ_b_project, column_employ_b_volunteer]])

data_3_5_q1 = data [(data[column_employ_b_project] == True) &
                      (data[column_employ_b_volunteer] == True)]

print ('Кол-во соискателей, которые ищут проектную работу и волонтёрство =', data_3_5_q1.shape[0])


# Сколько людей хотят работать вахтовым методом и с гибким графиком (в обоих столбцах стоит True)?
display (data[[column_schedule, column_schedule_b_rotation, column_schedule_b_flexible]])

data_3_5_q2 = data [(data[column_schedule_b_rotation] == True) &
                      (data[column_schedule_b_flexible] == True)]

print ('Кол-во соискателей, которые хотят работать вахтовым методом и с гибким графиком =', data_3_5_q2.shape[0])


# Выполните данное преобразование для признаков «Занятость» и «График», ответьте на контрольные вопросы, после чего удалите их из таблицы.
display (data.head())
data = data.drop(columns=[column_employment])
data = data.drop(columns=[column_schedule])
display (data.head())

,Занятость,проектная работа,волонтерство
0,"частичная занятость, проектная работа, полная ...",True,False
1,"частичная занятость, проектная работа, полная ...",True,False
2,полная занятость,False,False
3,"частичная занятость, проектная работа, полная ...",True,False
4,полная занятость,False,False
...,...,...,...
44739,полная занятость,False,False
44740,"проектная работа, частичная занятость, полная ...",True,False
44741,полная занятость,False,False
44742,"частичная занятость, полная занятость",False,False
44743,полная занятость,False,False

Кол-во соискателей, которые ищут проектную работу и волонтёрство = 436

,График,вахтовый метод,гибкий график
0,"гибкий график, полный день, сменный график, ва...",True,True
1,"гибкий график, полный день, сменный график, уд...",False,True
2,полный день,False,False
3,"гибкий график, удаленная работа",False,True
4,полный день,False,False
...,...,...,...
44739,"полный день, удаленная работа",False,False
44740,"удаленная работа, гибкий график, полный день, ...",False,True
44741,"полный день, удаленная работа",False,False
44742,удаленная работа,False,False
44743,полный день,False,False

Кол-во соискателей, которые хотят работать вахтовым методом и с гибким графиком = 2311

,ЗП,Ищет работу на должность:,Занятость,График,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,...,полная занятость,частичная занятость,проектная работа,волонтерство,стажировка,полный день,сменный график,гибкий график,удалённая работа,вахтовый метод
0,29000 руб.,Системный администратор,"частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...","МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее,М,...,True,True,True,False,False,True,True,True,False,True
1,40000 руб.,Технический писатель,"частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,высшее,М,...,True,True,True,False,False,True,True,True,False,False
2,20000 руб.,Оператор,полная занятость,полный день,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,среднее специальное,Ж,...,True,False,False,False,False,True,False,False,False,False
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,высшее,М,...,True,True,True,False,False,False,False,True,False,False
4,140000 руб.,Региональный менеджер по продажам,полная занятость,полный день,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,высшее,Ж,...,True,False,False,False,False,True,False,False,False,False

,ЗП,Ищет работу на должность:,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,Возраст,Опыт работы (месяц),...,полная занятость,частичная занятость,проектная работа,волонтерство,стажировка,полный день,сменный график,гибкий график,удалённая работа,вахтовый метод
0,29000 руб.,Системный администратор,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее,М,39,202.0,...,True,True,True,False,False,True,True,True,False,True
1,40000 руб.,Технический писатель,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,высшее,М,60,233.0,...,True,True,True,False,False,True,True,True,False,False
2,20000 руб.,Оператор,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,среднее специальное,Ж,36,123.0,...,True,False,False,False,False,True,False,False,False,False
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,высшее,М,38,225.0,...,True,True,True,False,False,False,False,True,False,False
4,140000 руб.,Региональный менеджер по продажам,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,высшее,Ж,26,67.0,...,True,False,False,False,False,True,False,False,False,False

6. (2 балла) Наконец, мы добрались до самого главного и самого важного - признака заработной платы **"ЗП"**. 
В чем наша беда? В том, что помимо желаемой заработной платы соискатель указывает валюту, в которой он бы хотел ее получать, например:
* 30000 руб.
* 50000 грн.
* 550 USD

Нам бы хотелось видеть заработную плату в единой валюте, например, в рублях. Возникает вопрос, а где взять курс валют по отношению к рублю?

На самом деле язык Python имеет в арсенале огромное количество возможностей получения данной информации, от обращения к API Центробанка, до использования специальных библиотек, например pycbrf. Однако, это не тема нашего проекта.

Поэтому мы пойдем в лоб: обратимся к специальным интернет-ресурсам для получения данных о курсе в виде текстовых файлов. Например, MDF.RU, данный ресурс позволяет удобно экспортировать данные о курсах различных валют и акций за указанные периоды в виде csv файлов. Мы уже сделали выгрузку курсов валют, которые встречаются в наших данных за период с 29.12.2017 по 05.12.2019. Скачать ее вы можете **на платформе**

Создайте новый DataFrame из полученного файла. В полученной таблице нас будут интересовать столбцы:
* "currency" - наименование валюты в ISO кодировке,
* "date" - дата, 
* "proportion" - пропорция, 
* "close" - цена закрытия (последний зафиксированный курс валюты на указанный день).


Перед вами таблица соответствия наименований иностранных валют в наших данных и их общепринятых сокращений, которые представлены в нашем файле с курсами валют. Пропорция - это число, за сколько единиц валюты указан курс в таблице с курсами. Например, для казахстанского тенге курс на 20.08.2019 составляет 17.197 руб. за 100 тенге, тогда итоговый курс равен - 17.197 / 100 = 0.17197 руб за 1 тенге.
Воспользуйтесь этой информацией в ваших преобразованиях.

<img src=https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/table.jpg>


Осталось только понять, откуда брать дату, по которой определяется курс? А вот же она - в признаке **"Обновление резюме"**, в нем содержится дата и время, когда соискатель выложил текущий вариант своего резюме. Нас интересует только дата, по ней бы и будем сопоставлять курсы валют.

Теперь у нас есть вся необходимая информация для того, чтобы создать признак "ЗП (руб)" - заработная плата в рублях.

После ответа на контрольные вопросы удалите исходный столбец заработной платы "ЗП" и все промежуточные столбцы, если вы их создавали.

Итак, давайте обсудим возможный алгоритм преобразования: 
1. Перевести признак "Обновление резюме" из таблицы с резюме в формат datetime и достать из него дату. В тот же формат привести признак "date" из таблицы с валютами.
2. Выделить из столбца "ЗП" сумму желаемой заработной платы и наименование валюты, в которой она исчисляется. Наименование валюты перевести в стандарт ISO согласно с таблицей выше.
3. Присоединить к таблице с резюме таблицу с курсами по столбцам с датой и названием валюты (подумайте, какой тип объединения надо выбрать, чтобы в таблице с резюме сохранились данные о заработной плате, изначально представленной в рублях). Значение close для рубля заполнить единицей 1 (курс рубля самого к себе)
4. Умножить сумму желаемой заработной платы на присоединенный курс валюты (close) и разделить на пропорцию (обратите внимание на пропуски после объединения в этих столбцах), результат занести в новый столбец "ЗП (руб)".

In [ ]:
#ваш код здесь

# Исследование зависимостей в данных

1. Постройте распределение признака **"Возраст"**. Опишите распределение, отвечая на следующие вопросы: чему равна мода распределения, каковы предельные значения признака, в каком примерном интервале находится возраст большинства соискателей? Есть ли аномалии для признака возраста, какие значения вы бы причислили к их числу?
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [11]:
# ваш код здесь

ваши выводы по графику здесь

2. Постройте распределение признака **"Опыт работы (месяц)"**. Опишите данное распределение, отвечая на следующие вопросы: чему равна мода распределения, каковы предельные значения признака, в каком примерном интервале находится опыт работы большинства соискателей? Есть ли аномалии для признака опыта работы, какие значения вы бы причислили к их числу?
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [ ]:
# ваш код здесь

ваши выводы здесь

3. Постройте распределение признака **"ЗП (руб)"**. Опишите данное распределение, отвечая на следующие вопросы: каковы предельные значения признака, в каком примерном интервале находится заработная плата большинства соискателей? Есть ли аномалии для признака возраста? Обратите внимание на гигантские размеры желаемой заработной платы.
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [ ]:
# ваш код здесь

ваши выводы здесь

4. Постройте диаграмму, которая показывает зависимость **медианной** желаемой заработной платы (**"ЗП (руб)"**) от уровня образования (**"Образование"**). Используйте для диаграммы данные о резюме, где желаемая заработная плата меньше 1 млн рублей.
*Сделайте выводы по представленной диаграмме: для каких уровней образования наблюдаются наибольшие и наименьшие уровни желаемой заработной платы? Как вы считаете, важен ли признак уровня образования при прогнозировании заработной платы?*

In [ ]:
# ваш код здесь

ваши выводы здесь

5. Постройте диаграмму, которая показывает распределение желаемой заработной платы (**"ЗП (руб)"**) в зависимости от города (**"Город"**). Используйте для диаграммы данные о резюме, где желая заработная плата меньше 1 млн рублей.
*Сделайте выводы по полученной диаграмме: как соотносятся медианные уровни желаемой заработной платы и их размах в городах? Как вы считаете, важен ли признак города при прогнозировании заработной платы?*

In [ ]:
# ваш код здесь

ваши выводы здесь

6. Постройте **многоуровневую столбчатую диаграмму**, которая показывает зависимость медианной заработной платы (**"ЗП (руб)"**) от признаков **"Готовность к переезду"** и **"Готовность к командировкам"**. Проанализируйте график, сравнив уровень заработной платы в категориях.

In [ ]:
# ваш код здесь

In [ ]:
ваши выводы здесь

7. Постройте сводную таблицу, иллюстрирующую зависимость **медианной** желаемой заработной платы от возраста (**"Возраст"**) и образования (**"Образование"**). На полученной сводной таблице постройте **тепловую карту**. Проанализируйте тепловую карту, сравнив показатели внутри групп.

In [ ]:
# ваш код здесь

ваши выводы здесь

8. Постройте **диаграмму рассеяния**, показывающую зависимость опыта работы (**"Опыт работы (месяц)"**) от возраста (**"Возраст"**). Опыт работы переведите из месяцев в года, чтобы признаки были в едином масштабе. Постройте на графике дополнительно прямую, проходящую через точки (0, 0) и (100, 100). Данная прямая соответствует значениям, когда опыт работы равен возрасту человека. Точки, лежащие на этой прямой и выше нее - аномалии в наших данных (опыт работы больше либо равен возрасту соискателя)

In [ ]:
# ваш код здесь

ваши выводы здесь

**Дополнительные баллы**

Для получения 2 дополнительных баллов по разведывательному анализу постройте еще два любых содержательных графика или диаграммы, которые помогут проиллюстрировать влияние признаков/взаимосвязь между признаками/распределения признаков. Приведите выводы по ним. Желательно, чтобы в анализе участвовали признаки, которые мы создавали ранее в разделе "Преобразование данных".

In [ ]:
# ваш код здесь

ваши выводы здесь

# Очистка данных

1. Начнем с дубликатов в наших данных. Найдите **полные дубликаты** в таблице с резюме и удалите их.

In [ ]:
# ваш код здесь

2. Займемся пропусками. Выведите информацию **о числе пропусков** в столбцах.

In [ ]:
# ваш код здесь

3. Итак, у нас есть пропуски в 3ех столбцах: **"Опыт работы (месяц)"**, **"Последнее/нынешнее место работы"**, **"Последняя/нынешняя должность"**. Поступим следующим образом: удалите строки, где есть пропуск в столбцах с местом работы и должностью. Пропуски в столбце с опытом работы заполните **медианным** значением.

In [ ]:
# ваш код здесь

4. Мы добрались до ликвидации выбросов. Сначала очистим данные вручную. Удалите резюме, в которых указана заработная плата либо выше 1 млн. рублей, либо ниже 1 тыс. рублей.

In [ ]:
# ваш код здесь

5. В процессе разведывательного анализа мы обнаружили резюме, в которых **опыт работы в годах превышал возраст соискателя**. Найдите такие резюме и удалите их из данных

In [12]:
# ваш код здесь

6. В результате анализа мы обнаружили потенциальные выбросы в признаке **"Возраст"**. Это оказались резюме людей чересчур преклонного возраста для поиска работы. Попробуйте построить распределение признака в **логарифмическом масштабе**. Добавьте к графику линии, отображающие **среднее и границы интервала метода трех сигм**. Напомним, сделать это можно с помощью метода axvline. Например, для построение линии среднего будет иметь вид:

`histplot.axvline(log_age.mean(), color='k', lw=2)`

В какую сторону асимметрично логарифмическое распределение? Напишите об этом в комментарии к графику.
Найдите выбросы с помощью метода z-отклонения и удалите их из данных, используйте логарифмический масштаб. Давайте сделаем послабление на **1 сигму** (возьмите 4 сигмы) в **правую сторону**.

Выведите таблицу с полученными выбросами и оцените, с каким возрастом соискатели попадают под категорию выбросов?

In [ ]:
# ваш код здесь

ваш коммментарий здесь